html
  head
    title= title
  body
    h1= message
    b This is a simple nodejs RESTful APIs app with express framework.
   
    p First things need to do is:
     br
     r 1- Install npm globaly on your Os (windows - mac - ...)
     br
     r 2- Install nodemon for run-watching mode (install command is : "npm i -g nodemon")
     br
     r    I suggest to you install as globaly packages because it is a tool not a dependency for project
     
    p So now! you must install dependency packages: (please run below command in project folder)
     br
     b "npm i"


    p Welldone! app is ready to run now. run below command
     br
     b "nodemon index.js"

    p tadaaa!

    p open browser:
     b  "localhost:5000"
     r (must see hello :))
    p open browser: 
     b "localhost:5000/api/courses" 
     r (must see course array list)

    p You can use Postman to Get,Post,Put,Delete Courses operators

    p Enjoyed.

    